### veriable and data type

In [1]:
print("Hello world")

Hello world

In [2]:
#print is s built in function and Hello world is a input

### python character set

In [3]:
#letter A to Z a to z
#Digits 0 to 9.
#special symbols - + * / etc.
# whitespace,blank space,tab,Carriage return,new line,formfeed.
#Other character python can process all ASCII and Unicode character as part of data or literals.

In [4]:
print("My name is Saleem.","My age is 30")

My name is Saleem. My age is 30

In [5]:
#Veriable 
#a veriable is name given to a memory location in program.
#Veriable
name = "Saleem" #String
age = 30 #integer
wieght = 68.5# float

In [6]:
print(name)
print(age)
print(wieght)

Saleem
30
68.5

In [7]:
print("my name is:",name)
print("my age is:",age)
print("my wieght is:",wieght)

my name is: Saleem
my age is: 30
my wieght is: 68.5

### string ,integer,float

In [8]:
name = "Muhammad Saleem" #string
age = 31 #integer
wieght = 69.5 # float
print("my name is:",name)
print("my age is:", age)
print("my weight is:",wieght)

my name is: Muhammad Saleem
my age is: 31
my weight is: 69.5

### Rules for identifiers

In [9]:
#Identifiers can be combination of upper case,lower case letters dights and underscore (_) so veriable1,veriable_1 VERIABLE is a vaild indentifiers in python
#a veriable cannot start with digits like 1veriable or 1_veriable is not a vaild veriable 
#we cannot use spiecial symbols like &*^%$#@ in our identifiersabs
#identifires can be an any leangth

### data types in python 
* string,integer,float,boolean,None

In [10]:
#data type of veriables in python
print(type(name))
print(type(age))
print(type(wieght))

<class 'str'>
<class 'int'>
<class 'float'>

In [11]:
old = True
a = None
print(a)
print(old)

None
True

In [12]:
print(type(old))
print(type(a))

<class 'bool'>
<class 'NoneType'>

### keywords

In [13]:
#python is case sensitive language
#keywords is a reserved words in python like:
#as return True None Flase or pass if elif import raise etc..see table in book

In [14]:
#Exmaple add sum of two veriable
a = 2
b = 4
sum = a+b
print(sum)

6

In [15]:
#Exmaple diffrence of two veriable
a = 2
b = 4
diff = a-b
print(diff)

-2

### comments
* single line and multi-line comments

In [16]:
#hi i am a single comments 
"""  multi
-line 
comments
"""

'  multi\n-line \ncomments\n'

### types of opraters
* an oprater is symbols that perform certain opration between operands

In [17]:
#arithmatic opraters (-,+,*,/,%,**)
#relational or comparsion opraters (==,!=,>,<,>=,<=)
#assignment opraters (=,+=,*=,/=,%=,**=,-=)
#logical  opraters (and,or,not)

### type conversion and type casting

In [18]:
#type conversion
a = 4
b = 2.57
sum = a + b
print(sum)
#type casting
a,b = 1,"2"
c = int(b)
sum = a + c
print(sum)

6.57
3

### input in python
* input statement is used to accept values from user (using keyboard).

In [19]:
#input() results for input() is always a string
#int (input()) integer
#float(input()) float
val = input("Enter your name")
print(type(val))
val1 = int(input("Enter your value"))
print(type(val1))
val2 = float(input("Enter your value"))
print(type(val2))

Enter your name Saleem

<class 'str'>

Enter your value 25

<class 'int'>

Enter your value 86.5

<class 'float'>

In [21]:
#Question 1 WAP to input two num and print sum.
first = int(input("Enter first num:"))
second = int(input("Enter second num:"))
print("sum=",first+ second)

Enter first num: 3
Enter second num: 5

sum= 8

In [22]:
#Question 2 WAP to input two float num and print thier average
a = float(input("Enter first num:"))
b = float(input("Enter second num:"))
print("average=",(a+b)/2)

Enter first num: 6
Enter second num: 7

average= 6.5

In [23]:
#Question 3 WAP to input two int num a and b print True if a greater then equal to b and print False if a is not greater then equal to b.
a = int(input("Enter first int num:"))
b = int(input("Enter second int num:"))
print(a>=b)

Enter first int num: 70
Enter second int num: 90

False