### dictionary ,sets in python## Dictionary
* a dictionary are used to store data values in key:value pairs they are un orederd muteable(changeable) and dont allow dublicate keys

In [36]:
info ={
    "name":"saleem",
    "age" : 30,
    "wieght" : 68.5,
    "is_adult": True,
    "marks":94.8,
    45.6 :94.8,
}
print(info)
print(type(info))

{'name': 'saleem', 'age': 30, 'wieght': 68.5, 'is_adult': True, 'marks': 94.8, 45.6: 94.8}
<class 'dict'>

In [32]:
#muteable(changeable) Remember !!! dont allow dublicate keys.
info_trainee ={
    "name":"saleem",
    "age" : ["saleem", "trainee","python","java script","c"],
    "wieght" : ("pakistan","zindabad","dictionary","set"),
    "is_adult":True,
    "marks":94.8,
    12 : 12.45,
    45.6 : 94.8
}
info_trainee["name"] = "Muhammad Saleem" #Assingend new value
#info_trainee["First name"] = "Muhammad"
#print(info_trainee)
print(info_trainee["name"])
print(info_trainee[45.6])

Muhammad Saleem
94.8

In [3]:
null_dict = {} #null_dict
print(null_dict)
null_dict["name"] = "Muhammad" #adding a value  into null_dict
print(null_dict["name"])

{}
Muhammad

### Nested dictionary

In [4]:
#Nested dict the dict has a dict in it is called nested dictionary
student_profile = {
    "name" :"Muhammmad Saleem",
    "age" : 30,
    "subjects" :{"phy": 87.5,
                 "chem":95.6,
                 "comp" : 90,
                }
           }
print(student_profile)
print(student_profile["subjects"]["comp"])

{'name': 'Muhammmad Saleem', 'age': 30, 'subjects': {'phy': 87.5, 'chem': 95.6, 'comp': 90}}
90

### dictionary methods

In [5]:
#.keys() method return all keys
student = {
    "name" :"Muhammmad Saleem",
    "age" : 30,
    "subjects" :{"phy": 87.5,
                 "chem":95.6,
                 "comp" : 90,
                }
           }
#print(student)
#print(student["subjects"]["comp"])
print(student.keys())
print(list(student.keys())) #typecasting as list

dict_keys(['name', 'age', 'subjects'])
['name', 'age', 'subjects']

In [6]:
#.values() return all avlues method
student = {
    "name" :"Muhammmad Saleem",
    "age" : 30,

    "subjects" :{"phy": 87.5,
                 "chem":95.6,
                 "comp" : 90,
                }
           }
print(student.values())
print(list(student.values()))

dict_values(['Muhammmad Saleem', 30, {'phy': 87.5, 'chem': 95.6, 'comp': 90}])
['Muhammmad Saleem', 30, {'phy': 87.5, 'chem': 95.6, 'comp': 90}]

In [7]:
#.items()returns as key and value as tuple
student = {
    "name" :"Muhammmad Saleem",
    "age" : 30,
    "subjects" :{"phy": 87.5,
                 "chem":95.6,
                 "comp" : 90,
                }
           }
print(student.items())
#print(student["subjects"]["chem"])
#print(list(student.values()))

dict_items([('name', 'Muhammmad Saleem'), ('age', 30), ('subjects', {'phy': 87.5, 'chem': 95.6, 'comp': 90})])

In [8]:
#.get()returns the key according to value
student = {
    "name" :"Muhammmad Saleem",
    "age" : 30,
    "subjects" :{"phy": 87.5,
                 "chem":95.6,
                 "comp" : 90,
                }
           }
print(student["name"])
print(student.get("name"))

Muhammmad Saleem
Muhammmad Saleem

In [9]:
#.update(new dict) insert specified items to the dictonary
student = {
    "name" :"Muhammmad Saleem",
    "age" : 30,
    "subjects" :{"phy": 87.5,
                 "chem":95.6,
                 "comp" : 90,
                }
           }
print(student.update({"city":"Bahawalpur"}))

print(student)

None
{'name': 'Muhammmad Saleem', 'age': 30, 'subjects': {'phy': 87.5, 'chem': 95.6, 'comp': 90}, 'city': 'Bahawalpur'}

### Sets in Python
* set is the collection of unordered items.
* each element in the set must be unique & immutable
* note: set is muteable but set elements are immutable

In [10]:
set = {1,2,3,4,5,"Hello world"}
print(set)
print(type(set))

{1, 2, 3, 4, 5, 'Hello world'}
<class 'set'>

In [11]:
collection = {1,2,3,2,3,3,4,5,"Hello", "world","Hello"} #ignore duplicated,repeated values
print(collection)
print(len(collection))#total number of items

{'Hello', 1, 2, 3, 4, 5, 'world'}
7

### set methods

In [12]:
#set.add(el)
collection = {1,2,3,2,3,3,4,5,"Hello", "world","Hello"}
collection.add(6)
collection.add("python")
collection.add((6,7,8,8))
print(collection)

{1, 2, 3, 4, 5, 6, 'python', (6, 7, 8, 8), 'world', 'Hello'}

In [13]:
#set.remove(el)
final_set = {1,2,3,2,3,3,4,5,"Hello", "world","Hello"}
final_set.remove(1)
print(final_set)

{'Hello', 2, 3, 4, 5, 'world'}

In [14]:
#set.clear() empties the set
collection = {1,2,3,2,3,3,4,5,"Hello", "world","Hello"}
print(collection.clear())

None

In [15]:
#set.pop() removes a random value
collection = {"Hello", "world","python","coding",1,2,3,4}
print(collection.pop())

Hello

In [16]:
#set.union(set2) combines both set values and return new
set1 = {1,2,3,4}
set2 ={1,2,3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [17]:
#set.intersection(set2) combines common values and return new
set1 = {1,2,3,4}
set2 ={1,2,3,4,5}
print(set1.intersection(set2))

{1, 2, 3, 4}

### Qusestion 1 store following word meanings in python dictionary :
* table : "a piece of furniture","list of facts & figure"
* cat : "a small animal"

In [22]:
dictionary = {
    "cat" : "a small animal",
    "table" : ["a piece of furniture" ,"list of facts & figure"]
    }
print(dictionary)
print(type(dictionary))

{'cat': 'a small animal', 'table': ['a piece of furniture', 'list of facts & figure']}
<class 'dict'>

### Question 2 You are given a list of subjects for students assume a classroom is required for 1 subject.How many classrooms are needed by all student
* "python","jave","C ++","python","javascript",
* "java","python","java","C++","C"

In [25]:
set = {"python","java","c++","python","javascript","java",
       "python","java","C++","c"
      }
print(set)
print(len(set))
print(type(set))

{'java', 'C++', 'python', 'javascript', 'c', 'c++'}
6
<class 'set'>

### Question 3 WAP to enter marks of 3 subjects from the user and store them into dictionary .start with an empty dictioary & add one by one ,use subject name as key and marks as  value?

In [26]:
marks = {} #init as empty dictionary

x = int(input("enter english marks:")) #input marks by user
marks.update ({"english" : x})
x = int(input("enter phy marks:"))
marks.update ({"phy" : x})
x = int(input("enter chem marks:"))
marks.update ({"chem" : x})
print(marks)

enter english marks: 92
enter phy marks: 90
enter chem marks: 95

{'english': 92, 'phy': 90, 'chem': 95}

### Qusetion 4 figure out a way to store 9 & 9.0 as as a seprate values in the set.
* (you can take help of built in data types)

In [28]:
#first solution
values = {9,"9.0"} #enter value in string formate
print(values)

{9, '9.0'}

In [30]:
#second solution using built in data type
values ={ 
    ("float" ,9.0),
    ("int" ,9)
    }
print(values)

{('int', 9), ('float', 9.0)}