### Loops in python
* while loop, for loop

In [44]:
count = 1
while count <= 5: #while is reserved keyword
     print("Allah is Great")
     count += 1
     print(count)

Allah is Great
2
Allah is Great
3
Allah is Great
4
Allah is Great
5
Allah is Great
6

In [2]:
i =1
while i <= 10: 
 print("Saleem",i)
 i +=1

Saleem 1
Saleem 2
Saleem 3
Saleem 4
Saleem 5
Saleem 6
Saleem 7
Saleem 8
Saleem 9
Saleem 10

### Question 1 print numbers from 1 to 100.?

In [3]:
i =1
while i <= 100:
 print(i)
 i +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### Question no 2 print number from 100 to 1.

In [3]:
i = 100
while i >= 1: #stoping condition
 print(i)
 i -=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

### Question 3 print multiplication table of "n"

In [4]:
n = int(input("input from user"))
i = 1
while i <= 10:
     print(n*i)
     i += 1

input from user 3

3
6
9
12
15
18
21
24
27
30

### Question no 4 print the element of following list number

In [5]:
num =[1,4,9,16,25,36,49,64,81,100] #traverse
index = 0
while index < len(num):
    print(num[index])      # num [0],num[1],num[2]...
    index += 1

1
4
9
16
25
36
49
64
81
100

###  Question 5 search for num x in this tuple using loop.

In [6]:
num = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 36
i = 0  # initialization
while i < len(num):
    if num[i] == x:
        print("Found at index", i)
    i += 1

Found at index 5

In [33]:
#break
i = 1
while i <= 5:
    print(i)
    if(i == 3):
         break
    i += 1

print("end of loop")

1
2
3
end of loop

In [35]:
#continue
i = 0
while i <= 5:
    if(i == 3):
        i += 1
        continue #skip
        print(i)
    i += 1

### For loop
* use for sequential traversal for traversal list tuple string etc..

In [11]:
num =[1,2,3,4,5] #list
for val in num: #for and in is a reserverd keywords
    print(val)

1
2
3
4
5

In [12]:
veggies =["ladyfinger","lemon","cucamber"] #list
for val in veggies: #for and in is a reserverd keywords
    print(val)

ladyfinger
lemon
cucamber

In [13]:
tuple =(1,2,3,4,5)
for val in tuple:
    print(val)

1
2
3
4
5

In [14]:
str ="Allah is one" #string
for chr in str:
    print(chr)

A
l
l
a
h

i
s

o
n
e

In [15]:
str ="Allah is one" #string with optional else
for chr in str:
    print(chr)
else:
    print("the end")

A
l
l
a
h

i
s

o
n
e
the end

### Question 1 print the element of the following list using a loop
* [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
for el in list:
    print(el)

1
4
9
16
25
36
49
64
81
100

### Question 2 search num x in given loop

In [36]:
num = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 36

indx = 0

for el in num:
    if(el == x):
     print("found num at indx", indx)
    indx += 1

found num at indx 5

### Range()
* range function returns the sequance of num,starting from 0 by default and increment of 1 by default and stops before a spacified num

In [18]:
seq = range(5)
for i in seq:
    print(i)

0
1
2
3
4

In [19]:
#Exmple
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
#start,stop
for i in range(2,10): #start,stop
    print(i)

2
3
4
5
6
7
8
9

In [21]:
#start,stop,step
for i in range(2,10,2): #start,stop,step
    print(i)

2
4
6
8

### Question 1 print num from 1 to 100 using for loop and range

In [22]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### Question 2 print num from 100 to 1

In [23]:
for i in range(100,0,-1): #when we are going to decreasing step size will b in "-"
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

### Question 2 print the multiplication table of num "n"

In [24]:
n = int(input("number from user:"))
for i in range(1,11):
    print(i*n)

number from user: 2

2
4
6
8
10
12
14
16
18
20

### pass statment
* pass is null statment that does nothing it is used as place holder for future code

In [25]:
for i in range(5):
    pass
print("some useful work")

some useful work

### Question 3 WAP to find the sum of first "n" natural num (using while loop)

In [26]:
n = 7
sum = 0
i = 1
while i <= n:
    sum += i
    i+= 1
    print("total sum =",sum)

total sum = 1
total sum = 3
total sum = 6
total sum = 10
total sum = 15
total sum = 21
total sum = 28

### Question 2 WAP to find the factorial for first n number (using for loop)

In [37]:
n = 5
fact = 1
i = 1
while i <= n:
    fact *= i
    i+= 1
    print("total fact =",fact)

total fact = 1
total fact = 2
total fact = 6
total fact = 24
total fact = 120