### list , tuple in python
## list
* a built in data type that store set of values
* its store elements of diffrent type (integer,float,string etc)

In [1]:
marks_list = [94.5,80.5,75.6,45.3,12.4]
print(marks_list)
print(type(marks_list))

[94.5, 80.5, 75.6, 45.3, 12.4]
<class 'list'>

In [2]:
marks_list = [94.5,80.5,75.6,45.3,12.4]
#print(marks_list)
#print(type(marks_list))
print(marks_list[0]) #indexing accessable
print(marks_list[1])

94.5
80.5

In [3]:
marks_list = [94.5,80.5,75.6,45.3,12.4]
#print(marks_list)
print(len(marks_list))#len() of list

5

In [4]:
student_list = ["Saleem",30,68.5,"Karachi"]#String,boolen,integer elements in a list
print(student_list)

['Saleem', 30, 68.5, 'Karachi']

In [5]:
student_list = ["Saleem",30,68.5,"Karachi"] #Lists are muteable,accessable,changeable
print(student_list[0])
student_list[0] = "Muhammad"
print(student_list)

Saleem
['Muhammad', 30, 68.5, 'Karachi']

In [6]:
#list slicing
marks =[34,23,56,78,98,65,43,65,87,23,67]
print(marks[1:7])
print(marks[1:])
print(marks[:7])
print(marks[-3:-1])

[23, 56, 78, 98, 65, 43]
[23, 56, 78, 98, 65, 43, 65, 87, 23, 67]
[34, 23, 56, 78, 98, 65, 43]
[87, 23]

### list method

In [7]:
#not same as function it is list spacific method
#.append() method
marks =[34,23,56,78,98,65,43,65,87,23,67] #mutetating the list
marks.append(72)
print(marks)

[34, 23, 56, 78, 98, 65, 43, 65, 87, 23, 67, 72]

In [8]:
#list method 
#accending
#.sort() method
marks =[34,23,56,78,98,65,43,65,87,23,67] #mutetating the list
marks.sort()
print(marks)

[23, 23, 34, 43, 56, 65, 65, 67, 78, 87, 98]

In [9]:
#list method 
#accending
#.sort() method
marks =[34,23,56,78,98,65,43,65,87,23,67] #mutetating the list in accending order
marks.sort()
print(marks)
print(marks.sort())

[23, 23, 34, 43, 56, 65, 65, 67, 78, 87, 98]
None

In [10]:
#list method 
#deaccending
#.sort((reverse=True) method
marks =[34,23,56,78,98,65,43,65,87,23,67] #mutetating the list in deaccending order
#marks.sort()
print(marks.sort(reverse=True))
print(marks)

None
[98, 87, 78, 67, 65, 65, 56, 43, 34, 23, 23]

In [11]:
#list method 
#deaccending 
marks =["a","f","r","u","b"] #mutetating the list in deaccending order
marks.sort()
print(marks.sort(reverse=True))
print(marks)

None
['u', 'r', 'f', 'b', 'a']

In [12]:
#list method 
#.reverse () method
marks =["a","f","r","u","b"] 
marks.reverse()
print(marks)

['b', 'u', 'r', 'f', 'a']

In [13]:
#list method 
#.insert () method
marks = [1,4,5,6,3,8,9,11] 
marks.insert(1,5)
print(marks)

[1, 5, 4, 5, 6, 3, 8, 9, 11]

In [14]:
#list method 
#.remove () method
marks = [1,4,5,6,3,8,9,11] 
marks.remove(1)
print(marks)

[4, 5, 6, 3, 8, 9, 11]

In [15]:
#list method 
#.pop () method
marks = [1,4,5,6,3,8,9,11] #.pop delete the value at index (5)
marks.pop(5)
print(marks)#list are printed except valu at index(5) which is 8.

[1, 4, 5, 6, 3, 9, 11]

### tuple

In [16]:
#a built in data type that let us create immuteable sequences of values.
tup =(1,3,6,7,4,8,9,15,16)
print(tup)
print(type(tup))
print(tup[0])
print(tup[3])

(1, 3, 6, 7, 4, 8, 9, 15, 16)
<class 'tuple'>
1
7

### tuple methods

In [17]:
#.index methods (return index of first occuerance)
tup =(1,3,6,7,4,8,9,15,16)
print(tup.index(15))

7

In [18]:
#tuple methods
#.count() methods (count total occuerance)
tup =(1,3,6,7,4,8,9,15,16,15,15)
print(tup.count(15))

3

In [19]:
#Question  1 
#Wap to ask user to enter three favorite movies name and store them into a list.
movie = []
mov1 = input("enter first movie: ")
movie.append(mov1)
mov2 = input("enter first movie: ")
movie.append(mov2)
mov3 = input("enter first movie: ")
movie.append(mov3)
print(movie)

enter first movie:  Dead pool vs wolvrien
enter first movie:  x men
enter first movie:  spider man

['Dead pool vs wolvrien', 'x men', 'spider man']

In [20]:
#Question 2
#wap to check list if a list contains plindrome elements or not.
list1 = [1,2,1]
copy_list1 = list1.copy()
copy_list1.reverse()
if(copy_list1 == list1):
 print("PLINDROME")
else:
 print("NOT PLINDROME")

PLINDROME

In [21]:
#Question 3
#Wap to count the number of students with A grade in a following tuple.
["C","D","A","A","B","B","A"]
grade = ["C","D","A","A","B","B","A"]
grade.sort()
print(grade)

['A', 'A', 'A', 'B', 'B', 'C', 'D']